Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-Cors==4.0.0
SQLAlchemy==2.0.28
Werkzeug==3.0.1
python-dotenv==1.0.1
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
pandas==2.2.1
openpyxl==3.1.2
user-agents==2.2.0
flake8==7.0.0
flake8-bugbear==23.12.2
flake8-builtins==2.2.0
flake8-import-order==0.18.2
flake8-variables-names==0.0.6
pep8-naming==0.14.0
PyJWT==2.8.0
selenium==4.32.0
click==8.1.7