<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAI TimeFlow</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <div class="header-logo">
            <img src="/assets/images/logo.svg" alt="MAI TimeFlow" />
          </div>
          <nav class="header-nav">
            <a href="#">Главная</a>
            <a href="#">Помощь</a>
            <a href="#" id="profile-button"
              ><img src="/assets/images/profile.svg" alt="Профиль"
            /></a>
            <div id="modal" class="hidden">
              <div class="modal-content">
                <button class="btn" id="openLoginModalBtn">Войти</button>
                <button class="btn" id="registerBtn">Зарегистрироваться</button>
              </div>
            </div>
          </nav>
          <div id="loginModal" class="modal hidden">
            <div class="login-modal-content">
              <button class="close-btn" id="closeLoginModal">&times;</button>
              <h2>Войти или создать профиль</h2>

              <label>Почта (@mai.education)</label>
              <input type="email" placeholder="students@mai.education" />

              <label>Пароль</label>
              <input type="password" />

              <button class="btn btn-blue">Авторизироваться</button>

              <p>
                <input type="checkbox" checked />
                Соглашаюсь с условиями пользования платформой
              </p>
            </div>
          </div>
          <div id="registerModal" class="modal hidden">
            <div class="register-modal-content">
              <span class="close-btn">&times;</span>
              <h2>Регистрация</h2>
              <form>
                <label for="group">Ваша группа</label>
                <input
                  id="group"
                  type="text"
                  placeholder="например, М8О-213Б-23"
                  required
                />

                <label for="firstName">Имя</label>
                <input id="firstName" type="text" required />

                <label for="lastName">Фамилия</label>
                <input id="lastName" type="text" required />

                <button type="submit" class="register-btn2">
                  Зарегистрироваться
                </button>
              </form>
            </div>
          </div>
        </div>
      </header>

      <main>
        <h1>Добро пожаловать в MAI TimeFlow!</h1>
        <p class="intro-text">
          Просматривайте расписание своей группы, синхронизируйте его с Google
          Calendar и получайте уведомления об изменениях.
        </p>
        <button class="start">Начать</button>
        <img src="/assets/images/plane.svg" class="plane" alt="Самолётик" />
        <img src="/assets/images/stipple.svg" class="stipple" alt="Дымок" />
        <img src="/assets/images/stars.svg" class="stars" alt="Звёздочки" />
        <img
          src="/assets/images/computer.svg"
          class="computer"
          alt="Компьютер"
        />
        <h2>Расписание</h2>

        <div class="selectors">
          <div class="selectors-row">
            <select id="institute-select">
              <option value="">Выберите институт</option>
              <option value="1">Институт №1</option>
              <option value="2">Институт №2</option>
              <option value="3">Институт №3</option>
              <option value="4">Институт №4</option>
              <option value="5">Институт №5</option>
              <option value="6">Институт №6</option>
              <option value="7">Институт №7</option>
              <option value="8">Институт №8</option>
            </select>
            <select id="course-select">
              <option value="">Выберите курс</option>
              <option value="1">1 курс</option>
              <option value="2">2 курс</option>
              <option value="3">3 курс</option>
              <option value="4">4 курс</option>
            </select>
          </div>
          <div class="selectors-row">
            <select id="degree-select" class="wide-select">
              <option value="">Выберите степень обучения</option>
              <option value="Б">Бакалавриат</option>
              <option value="С">Специалитет</option>
              <option value="М">Магистратура</option>
            </select>
          </div>
        </div>

        <div id="groups-table" class="groups-table-container"></div>

        <button class="show-timetable">Показать расписание</button>

        <h2 class="features-title">Почему стоит зарегистрироваться?</h2>

        <div class="features">
          <div class="feature-item">
            <div class="feature-card">
              <div class="feature-content">
                <img src="/assets/images/calendar.svg" alt="Google Calendar" />
                <p>Синхронизация с Google Calendar</p>
              </div>
            </div>
          </div>

          <div class="feature-item">
            <div class="feature-card">
              <div class="feature-content">
                <img src="/assets/images/edit.svg" alt="Редактирование" />
                <p>Возможность редактировать расписание</p>
              </div>
            </div>
          </div>

          <div class="feature-item">
            <div class="feature-card">
              <div class="feature-content">
                <img src="/assets/images/notifications.svg" alt="Уведомления" />
                <p>Уведомления об изменениях в расписании</p>
              </div>
            </div>
          </div>
        </div>

        <button class="register-btn">Зарегистрироваться</button>
      </main>

      <footer>
        <div class="footer-main-content">
          <div class="footer-left-section">
            <div class="footer-logo">
              <img src="/assets/images/logo.svg" alt="MAI TimeFlow" />
            </div>
            <div class="section-title">Контактная информация:</div>
            <div class="contact-info">
              <p class="contacts">Почта: support@mai-timeflow.ru</p>
              <p class="contacts">Телефон: +7 (495) 123-45-67</p>
              <p class="contacts">
                Адрес: Москва, Волоколамское шоссе,<br />д. 4, 125993
              </p>
            </div>
          </div>

          <div class="footer-center-section">
            <div class="resources-title">Дополнительные ресурсы:</div>
            <div class="resources-list">
              <a href="#">Документация</a>
              <a href="#">Политика конфиденциальности</a>
              <a href="#">Условия использования</a>
            </div>
          </div>

          <div class="footer-right-section">
            <div class="footer-links-wrapper">
              <div class="footer-links">
                <a href="#">Главная</a>
                <a href="#">Помощь</a>
                <a href="#">О проекте</a>
                <a href="#">Контакты</a>
              </div>
              <div class="social-circles">
                <div class="social-circle"></div>
                <div class="social-circle"></div>
                <div class="social-circle"></div>
              </div>
            </div>

            <div class="subscribe">
              <input type="email" placeholder="Введите вашу почту" />
              <button>Подписаться на рассылку</button>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer-bottom-content">
            <p class="copyright">© 2025 MAI TIMEFLOW. Все права защищены.</p>
            <p class="developed-by">Разработано студентами МАИ, 2025 год</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
