<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAI TimeFlow</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/safety.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <div class="header-logo">
            <img src="/assets/images/logo.svg" alt="MAI TimeFlow" />
          </div>
          <nav class="header-nav">
            <a href="index2.html">Главная</a>
            <a href="calendar.html">Календарь</a>
            <a href="index3.html">Редактирование</a>
            <a href="settings.html">Настройки</a>
            <a href="#">Помощь</a>
            <a href="#" id="profile-button">
              <img src="/assets/images/profile.svg" alt="Профиль" />
            </a>
            <div id="modal" class="hidden">
              <div class="modal-content">
                <button class="btn" id="profileBtn">Профиль</button>
                <button class="btn" id="logoutBtn">Выйти</button>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <main>
        <section class="profile-section-container">
          <div class="profile-side-btns">
            <button
              type="button"
              class="side-btn"
              onclick="window.location.href='index3.html'"
            >
              <img src="/assets/images/info.svg" alt="Информация" />
            </button>
            <button
              type="button"
              class="side-btn"
              onclick="window.location.href='safety.html'"
            >
              <img src="/assets/images/safety2.svg" alt="Безопасность" />
            </button>
            <button
              type="button"
              class="side-btn"
              onclick="window.location.href='noti.html'"
            >
              <img src="/assets/images/noti.svg" alt="Уведомления" />
            </button>
            <button
              type="button"
              class="side-btn"
              onclick="window.location.href='settings.html'"
            >
              <img src="/assets/images/settings.svg" alt="Настройки" />
            </button>
          </div>

          <div class="mtf-profile-section-header">
            <div class="mtf-profile-settings">
              <h2>Изменение пароля</h2>

              <label for="firstName" class="profile-form-label"
                >Текущий пароль</label
              >
              <input
                type="text"
                id="firstName"
                class="profile-form-input"
                placeholder="Введите пароль"
              />

              <label for="firstName" class="profile-form-label"
                >Новый пароль</label
              >
              <input
                type="text"
                id="firstName"
                class="profile-form-input"
                placeholder="Введите новый пароль"
              />
              <label for="firstName" class="profile-form-label"
                >Подтверждение пароля</label
              >
              <input
                type="text"
                id="firstName"
                class="profile-form-input"
                placeholder="Повторите новый пароль"
              />
            </div>

            <div class="mtf-right-panel">
              <h2>Двухфакторная аутентификация</h2>
              <div class="mtf-schedule-box">
                <div class="mtf-event">
                  <div class="mtf-event-title">
                    Для дополнительной защиты вашего аккаунта включите
                    двухфакторную аутентификацию
                  </div>
                  <div class="mtf-event-info">** В разработке **<br /></div>
                </div>
                <button class="btn-primary">Включить</button>
              </div>

              <div class="mtf-integrations">
                <h2>Активные сессии</h2>
                <ul>
                  <li class="session-item">
                    <img
                      src="/assets/images/windows.svg"
                      alt="Windows 11"
                    />
                    <div class="session-info">
                      <span class="device-name">Windows 11 Home</span>
                      <span class="session-meta"
                        >4.81.10.58 · Сегодня в 10:05</span
                      >
                    </div>
                  </li>
                  <li class="session-item">
                    <img src="/assets/images/apple.svg" alt="iPhone" />
                    <div class="session-info">
                      <span class="device-name">iPhone 16 Pro Max</span>
                      <span class="session-meta"
                        >4.81.10.58 · Сегодня в 10:05</span
                      >
                    </div>
                  </li>
                  <a href="#" class="show-all">Показать все</a>
                </ul>
              </div>
              </div>
            </div>
          </div>
          <div class="save-wrapper">
            <button class="sohr">Сохранить</button>
          </div>
        </section>
      </main>

      <footer>
        <div class="footer-main-content">
          <div class="footer-left-section">
            <div class="footer-logo">
              <img src="/assets/images/logo.svg" alt="MAI TimeFlow" />
            </div>
            <div class="section-title">Контактная информация:</div>
            <div class="contact-info">
              <p class="contacts">Почта: support@mai-timeflow.ru</p>
              <p class="contacts">Телефон: +7 (495) 123-45-67</p>
              <p class="contacts">
                Адрес: Москва, Волоколамское шоссе,<br />д. 4, 125993
              </p>
            </div>
          </div>

          <div class="footer-center-section">
            <div class="resources-title">Дополнительные ресурсы:</div>
            <div class="resources-list">
              <a href="#">Документация</a>
              <a href="#">Политика конфиденциальности</a>
              <a href="#">Условия использования</a>
            </div>
          </div>

          <div class="footer-right-section">
            <div class="footer-links-wrapper">
              <div class="footer-links">
                <a href="#">Главная</a>
                <a href="#">Помощь</a>
                <a href="#">О проекте</a>
                <a href="#">Контакты</a>
              </div>
              <div class="social-circles">
                <div class="social-circle"></div>
                <div class="social-circle"></div>
                <div class="social-circle"></div>
              </div>
            </div>

            <div class="subscribe">
              <input type="email" placeholder="Введите вашу почту" />
              <button>Подписаться на рассылку</button>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          <div class="footer-bottom-content">
            <p class="copyright">© 2025 MAI TIMEFLOW. Все права защищены.</p>
            <p class="developed-by">Разработано студентами МАИ, 2025 год</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
